{% extends 'core/plantillas/PlantillaGeneral.html' %}
{% load static %}
{% block contenido %}
<body>
    <br><br>
    <div class="container">
        <div class="row">
            <b style="font-size: 40px;">Pago Exitoso</b>
            <div class ="card" style="height: 300px; font-size: 20px; border-width: 3px; ">
                <div class="card-body" style="text-align: center;">
                <p>Detalles de la transacción:</p>
                <ul>
                    <li>ID de la orden: {{ response.buy_order }}</li>
                    <li>Valor: {{ response.amount }}</li>
                    <li>Estado de la transaccion: {{ response.status }}</li>
                    <li>Authorization Code: {{ response.authorization_code }}</li>
                </ul>

<BR>
                <b>GRACIAS POR PREFERIR NEXTCLASS :)</b>
            </div>
        </div>
        </div>
    </div>
   <br><br> <br><br> <br><br>
 
{% endblock contenido %}