{% extends 'core/plantillas/PlantillaGeneral.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'core/css/Logueo/Login.css' %}">
{% endblock links %}

{% block contenido %}
<div class="container mt-4">
  
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    
    <form method="POST" action="{% url 'Logueo' %}" >
        {% csrf_token %}
        <div class="login-container" style="border-radius: 30px;">
            <h2>Iniciar sesión</h2>
            <input type="email" name="email1" placeholder="Correo electrónico" id="email" >  <!-- Campo de correo -->
            <input type="password" name="contra1" placeholder="Contraseña" id="contra1">  <!-- Campo de contraseña -->
            <button type="submit">Entrar</button>
            
            <p>¿No tienes cuenta?</p>
            <a href="#" >Crea una aquí</a>
            <a href="{% url 'RegistroProfe' %}" style="color: #e6784d;">Profesor</a>
            <a href="{% url 'RegistroEstudiante' %}" style="color: #e6784d;">Alumno</a>
            <a href="{% url 'solicitar_cambio_contra' 'olvidar' %}">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>
{% endblock contenido %}