/* CSS actualizado */
.clase-card {
    transition: transform 0.3s ease;
    border: none; /* Elimina el borde para un look más limpio */
    border-radius: 15px; /* Bordes redondeados para un estilo moderno */
}

.clase-card:hover {
    transform: translateY(-10px); /* Un efecto hover más sutil */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra más suave */
}

.clase-card .card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px; /* Bordes redondeados en la imagen */
    border-top-right-radius: 15px;
}

.clase-card .card-title {
    font-size: 1.25rem;
    font-weight: bold; /* Título más destacado */
}

.clase-card .card-text {
    height: auto; /* Altura automática para contenido variable */
    overflow: hidden;
}

.clase-card .card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #eaeaea; /* Línea divisoria sutil */
}

/* Responsive design */
@media (max-width: 768px) {
    .arreglorow {
        margin: 0;
    }
}

/* Estilos para los botones */
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}


