{% extends 'core/plantillas/PlantillaGeneral.html' %}
{% load static %}

{% block links %}
<!-- Incluye jQuery y jQuery UI -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'core/css/Agendar/Agendar.css' %}">

{% endblock links %}

{% block contenido %}
<div class="container mt-4" style="margin-bottom: 70px;">
    <div class="row">
        <div class="col-md-6">
            
                {% csrf_token %}
                <input type="hidden" name="id_profesor" value="{{ profe.id_profesor }}">
                <div id="sticky-container" style="display: flex; justify-content: center;">
                    <div style="max-width: 400px;">
                        <div id="sticky-card" class="card" style="display: flex; flex-direction: column; align-items: center; border-radius: 30px; border-color: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                            <img src="{{ profe.usuario.foto.url }}" style="max-width: 70%; border-radius: 25px; margin-top: 20px;">
                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title"><b>{{ profe.usuario.nombre }} {{ profe.usuario.apellido }}</b></h5>
                                <h5 class="card-title"><b>{{ avgResena }}</b> <span style="color: gray;">({{ cantResenas }} Opiniones)</span></h5>
                                <h4>Tarifa por hora</h4>
                                <h5 class="card-title" style="color: #F08080;"><b>${{ clase.tarifa_clase }}</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-md-6">
            {% if sesionAgendada %}
            <div style="margin-bottom: 438px;">
                <h3>Clase agendada</h3>
                <p>Tu clase con {{ profe.usuario.nombre }} está agendada para:</p>
                <p><b>Fecha:</b> {{ sesion.fechaclase }}</p>
                {% if not sesion.estado_pago %}
                <div style="margin-top: 10px;">
                    <input type="hidden" id="id_sesion" name="id_sesion" value="{{ sesion.id_sesion }}">
                    <form  method="post" action="{% url 'pagar' sesion.id_sesion %}">
                        {% csrf_token %}
                        <input type="submit" class="btn" style="border-radius: 20px; width: 70%; height: 50px; background-color: #F08080; border-color: #F08080; display: inline-block; color: white;" value="Ir a pagar" />
                    </form>
                </div>
            {% endif %}

            </div>
            {% else %}

                {% csrf_token %}
                <h3>Planifica tu clase de {{ clase.nombre_clase }}</h3>
                <p>Tu primera clase con {{ profe.usuario.nombre }}</p>
                <h4><b>Tu mensaje</b></h4>
                <textarea class="form-control" id="msg" name="mensaje" style="background-color: #f2f3f5; height: 100px;" placeholder="Da a {{ profe.usuario.nombre }} información para concretar la clase."></textarea>
                <div style="margin-top: 10px;"><h3>Fecha de la clase</h3></div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="btn1" type="button" class="btn btn-secondary active" style="height: 60px; width: 180px;">Lo antes posible</button>
                    <button id="btn2" type="button" class="btn btn-secondary" style="height: 60px; width: 180px;">Propón una fecha</button>
                </div>
                <div style="margin-top: 10px;">
                    <input type="text" id="datepicker" name="datepicker" class="form-control" style="display: inline-block; width: 45%; margin-right: 10px;" placeholder="DD/MM/AA">
                    <input type="text" id="timepicker" name="timepicker" class="form-control" style="display: inline-block; width: 45%;" placeholder="HH:MM">
                </div>
                <input type="hidden" id="id_clase" name="id_clase" value="{{ clase.id_clase }}">
                <input type="hidden" id="id_profesor" value="{{ profe.id_profesor }}">
                <input type="hidden" id="id_alumno" value="{{ estudiante.id_estudiante }}">
                <h3>Tus datos de contacto</h3>
                <label for="contacto" class="form-label">Número de teléfono</label>
                <input type="text"  id="contacto" name="contacto" class="form-control" style="height: 50px; width: 100%; max-width: 400px;">
                <div style="margin-top: 20px;">
                    <button type="submit" onclick="verificarDisponibilidad()" id="agendar" class="btn btn-primary" style="border-radius: 20px; width: 100%; max-width: 400px; height: 50px; background-color: #F08080; border-color: #F08080;">Agendar</button>
                </div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock contenido %}

{% block js %}
<!-- jQuery UI (incluyendo el archivo de localización en español) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/i18n/jquery-ui-i18n.min.js"></script>

<!-- Tu script personalizado -->
<script src="{% static 'core/js/Agendar.js' %}"></script>

#PAGO

<script>
    // Función para redirigir y enviar el formulario automáticamente
    document.addEventListener("DOMContentLoaded", function() {
        // Obtén el formulario de pago por su ID
        var formPago = document.getElementById('form-pago');
        if (formPago) {
            // Envía el formulario automáticamente al cargar
            formPago.submit();
        }
    });
    </script>
{% endblock js %}
