<html>
<head></head>
<body>
    <h1>Hola {{ email }}</h1>
    {% if tipo == 'cambiar' %}
        <p>Para cambiar tu contraseña, haz clic en el siguiente enlace:</p>
        <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'reset_password' email %}">Cambiar Contraseña</a>
    {% elif tipo == 'restablecer' %}
        <p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
        <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'reset_password' email %}">Restablecer Contraseña</a>
    {% elif tipo == 'aprobado' %}
        <p>¡Felicidades! Tu cuenta ha sido aprobada y ya puedes iniciar sesión.</p>
    {% elif tipo == 'rechazado' %}
        <p>Lamentamos informarte que tu solicitud ha sido rechazada. Si tienes alguna pregunta, por favor contacta con nosotros.</p>
    {% elif tipo == 'validacion_estudiante' %}
        <p>Su hijo(a), {{ student_name }}, ha intentado registrarse en nuestra plataforma. Por favor, valide su registro:</p>
        <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'ValidacionPapasView' student_id %}">Validar Registro</a>
    {% else %}
        <p>Este es un correo de notificación.</p>
    {% endif %}
</body>
</html>