{% extends 'core/plantillas/PlantillaGeneral.html' %}

{% block contenido %}
<div class="container " style="margin-top: 45px; margin-bottom: 45px;">
    <h2>Detalle de la solicitud de clase</h2>
    <p>Nombre del estudiante: {{ usuario.nombre }} {{ usuario.apellido }}</p>
    <p>Email: {{ usuario.email }}</p>
    <p>Mensaje del estudiante: {{ sesion.mensaje }}</p>
    <p>Contacto: {{ sesion.contacto }}</p>
    
    
    <form action="{% url 'AceptarSolicitudClase' sesion.id_sesion %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Aceptar</button>
    </form>
    <form action="{% url 'RechazarSolicitudClase' sesion.id_sesion %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Rechazar</button>
    </form>

    <br>
    <a href="{% url 'SolicitudClase' %}" class="btn btn-primary mt-3">Volver a las solicitudes</a>
</div>
{% endblock contenido %}