{% extends 'core/plantillas/PlantillaGeneral.html' %}

{% block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock links %}

{% block contenido %}
<div class="container mt-4">
    <h2>Panel del Administrador</h2>

    <!-- Sección de Gestión de Usuarios -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Gestión de Usuarios</div>
                <div class="card-body">
                    <ul>
                        <li><a href="{% url 'ListaUsuarios' %}">Ver Todos los Usuarios</a></li>
                        <li><a href="{% url 'Solicitudes' %}">Solicitudes de Profesores</a></li>
                        <li><a href="{% url 'RegistroAdmin' %}">Crear Administrador</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sección de Gestión de Clases -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Gestión de Clases</div>
                <div class="card-body">
                    <ul>
                        <li><a href="{% url 'ListaClases' %}">Ver Todas las Clases</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Estadísticas Generales -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Estadísticas Generales</div>
                <div class="card-body">
                    <p>Total de Usuarios: {{ total_usuarios }}</p>
                    <p>Total de Profesores: {{ total_profesores }}</p>
                    <p>Total de Clases: {{ total_clases }}</p>
                    <p>Total de Solicitudes Pendientes: {{ total_solicitudes }}</p>
                    <p>Ingresos Totales: {{ ingresos_totales.total }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Actividades y Evaluaciones</div>
                <div class="card-body">
                    <p>Evaluación Promedio de Clases: {{ evaluacion_promedio }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Sesiones de Clases -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Sesiones de Clases</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for sesion in sesiones_por_estado %}
                        <li class="list-group-item">Estado: {{ sesion.estado_clase }} - Número de Sesiones: {{ sesion.count }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Distribución de Sesiones</div>
                    <div class="card-body">
                        <p>Sesiones por Mes:</p>
                        <ul>
                            {% for sesion_mes in sesiones_por_mes %}
                            <li>Mes: {{ sesion_mes.month | date:"F Y" }} - Número de Sesiones: {{ sesion_mes.count }}</li>
                            {% endfor %}
                        </ul>
                        <p>Sesiones por Día de la Semana:</p>
                        <ul>
                            {% for sesion_dia in sesiones_por_dia_semana %}
                            <li>
                                {% if sesion_dia.day_of_week == 1 %}
                                    Día de la Semana: Lunes - Número de Sesiones: {{ sesion_dia.count }}
                                {% elif sesion_dia.day_of_week == 2 %}
                                    Día de la Semana: Martes - Número de Sesiones: {{ sesion_dia.count }}
                                {% elif sesion_dia.day_of_week == 3 %}
                                    Día de la Semana: Miércoles - Número de Sesiones: {{ sesion_dia.count }}
                                {% elif sesion_dia.day_of_week == 4 %}
                                    Día de la Semana: Jueves - Número de Sesiones: {{ sesion_dia.count }}
                                {% elif sesion_dia.day_of_week == 5 %}
                                    Día de la Semana: Viernes - Número de Sesiones: {{ sesion_dia.count }}
                                {% elif sesion_dia.day_of_week == 6 %}
                                    Día de la Semana: Sábado - Número de Sesiones: {{ sesion_dia.count }}
                                {% elif sesion_dia.day_of_week == 7 %}
                                    Día de la Semana: Domingo - Número de Sesiones: {{ sesion_dia.count }}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Actividades de Usuarios -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Actividades de Estudiantes</div>
                <div class="card-body">
                    <ul>
                        {% for estudiante in estudiantes_actividades %}
                        <li>{{ estudiante.usuario.nombre }} - Sesiones: {{ estudiante.count_sesiones }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Actividades de Profesores</div>
                <div class="card-body">
                    <ul>
                        {% for profesor in profesores_actividades %}
                        <li>{{ profesor.usuario.nombre }} - Sesiones: {{ profesor.count_sesiones }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Estadísticas Financieras -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Estadísticas Financieras</div>
                <div class="card-body">
                    <p>Ingresos Totales: {{ ingresos_totales.total }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Preferencias por Edad -->
    <div class="row mt-4">
        {% for pref in preferencias_edad %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Preferencias de Estudiantes por Edad: {{ pref.estudiante__usuario__edad }}</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Edad de los Estudiante:</strong> {{ pref.estudiante__usuario__edad }}
                        </li>
                        <li class="list-group-item">
                            <strong>Edad Promedio del Profesor:</strong> {{ pref.avg_prof_edad }}
                        </li>
                        <li class="list-group-item">
                            <strong>Género del Profesor Preferido:</strong> {{ pref.pref_prof_genero }}
                        </li>
                        <li class="list-group-item">
                            <strong>Número de Clases:</strong> {{ pref.count_clases }}
                        </li>
                        <li class="list-group-item">
                            <strong>Edades más seleccionadas de Profesores:</strong>
                            {% for edad in pref.pref_prof_edad %}
                            {{ edad }}
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            <strong>Materias más seleccionadas:</strong>
                            {% for materia in pref.pref_materia %}
                            {{ materia }}
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            <strong>Idiomas más seleccionados:</strong>
                            {% for idioma in pref.pref_idioma %}
                            {{ idioma }}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock contenido %}