{% extends 'core/plantillas/PlantillaGeneral.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'core/css/Logueo/Login.css'%}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

{% endblock links %}

{% block contenido %}
<!-- Mensajes de éxito o error -->

<form method="POST" action="{% url 'FormularioEstudiante' %}" enctype="multipart/form-data" id="formregistro">
    <!-- Agrega un ID al formulario -->
    {% csrf_token %}
    <div class="login-container" style="border-radius: 30px;">
        <h2>Registro de Alumno</h2>

        <label for="profile_picture">Foto de perfil:</label><br>
        <div style="color: red;" class="error-msg" id="error-fotoAlumno"></div>
        <input type="file" id="fotoAlumno" name="fotoAlumno">
        

        <label for="Sexo" class="form-label">Sexo</label>
        <div style="color: red;"  class="error-msg" id="error-sexo"></div>
        <select id="sexo" style="margin-bottom: 10px; width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                box-sizing: border-box;
                border-radius: 20px;
                background-color: #D7DBDD;" class="form-control" name="sexo">
            <option value="">Selecciona una opción</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>

        </select> 

        <!-- Contenedor para mostrar todos los errores -->
        <label for="nombre" class="form-label">Nombre </label>
        <div style="color: red;" class="error-msg" id="error-nombre"></div>
        <input type="text" class="form-control" id="nombre" name="nombre">
        
        <!-- Div para mostrar errores del nombre -->

        
        <label for="apellido" class="form-label">Apellido </label>
        <div style="color: red;" class="error-msg" id="error-apellido"></div>
        <input type="text" class="form-control" id="apellido" name="apellido">
        
        <label for="edad" class="form-label">Edad </label>
        <div style="color: red;" class="error-msg" id="error-edad"></div>
        <input type="number" class="form-control" name="edad" id="edad" min="0" required>

        
        <label for="correo" class="form-label">Correo Electronico </label>
        <div  style="color: red;" class="error-msg" id="error-email"></div>
        <input type="text" id="email" name="email">
    
 

        <label for="contrasena" class="form-label">Contraseña </label>
        <div style="color: red;" class="error-msg" id="error-contrasena"></div>
        <input type="password" id="contrasena" name="contrasena">
 

        <label for="telefono" class="form-label">Teléfono</label>
        <div style="color: red;"  class="error-msg" id="error-telefono"></div>
        <input type="text" class="form-control" id="telefono" maxlength="9" name="telefono">

        <label for="correo_padres" id="labelpolla" class="form-label">Correo de los padres</label>
        <div style="color: red;" class="error-msg" id="error-correo-padres"></div>
        <input type="text" class="form-control" id="correo_padres" name="correo_padres" {% if request.method == 'POST' and edad >= 18 %}style="display: none;"{% endif %}>

        
     

        <label for="nivel_educativo" class="form-label">Nivel Educativo </label>
        <div style="color: red;"  class="error-msg" id="error-NvlEducativo"></div>
        <select id="NvlEducativo" style="margin-bottom: 10px; width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                box-sizing: border-box;
                border-radius: 20px;
                background-color: #D7DBDD;" class="form-control" name="NvlEducativo">
            <option value="">Selecciona una opción</option>
            <option value="Basica">Basica</option>
            <option value="Media">Media</option>
           

            
        </select> 
        

        <button type="submit">Entrar</button>
        <!-- Cambiado a type="submit" -->
        <p class="warnings" id="warnings"></p>
    </div>
</form>

{% endblock contenido %}

{% block js %}

<script src="{% static 'core/js/RegistroAlumnoss.js' %}"></script>

{% endblock js %}
