{% extends 'core/plantillas/PlantillaGeneral.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'core/css/Logueo/Login.css'%}">
{% endblock links %}

{% block contenido %}
<div class="container mt-4">


    <!-- Mensajes de éxito o error -->
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        
            <div class="login-container" style="border-radius: 30px;">
            <h2>Registro de Profesor</h2>

                <label for="profile_picture">Foto de perfil:</label><br>
                <input type="file" id="profile_picture" name="foto_profe"><br> 
    
                <label para="run" class="form-label">RUN </label>
                <input tipo="text" class="form-control" name="run" placeholder="12345678-9" required>
    
                <label para="nombre" class="form-label">Nombre </label>
                <input type="text" class="form-control" name="nombre" required>
    
                <label para="apellido" class="form-label">Apellido </label>
                <input type="text" class="form-control" name="apellido" required>

                <label para="edad" class="form-label">Edad </label>
                <input type="text" class="form-control" name="Edad" required>
    
                <label para="correo" class="form-label">Correo Electronico </label>
                <input type="email"  name="email">
    
                <label para="contrasena" class="form-label">Contraseña </label>
                <input type="password" name="">
    
                <label para="telefono" class="form-label">Teléfono</label>
                <input tipo="text" class="form-control" name="telefono">
    
                <label for="profile_picture">Papel de antecedentes</label><br>
                <input type="file" id="profile_picture" name="antecedentes">

                <label para="nivel_educativo"  class="form-label">Nivel Educativo </label>
                <select style="margin-bottom: 10px; width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                box-sizing: border-box;
                border-radius: 20px;
                background-color: #D7DBDD; "  class="form-control" name="nivel_educativo" required>
              
            </select>
                
                <label para="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" name="descripcion"></textarea>
    
                <button>Entrar</button>
              </div>
    </form>
</div>
{% endblock %}