{% extends 'core/plantillas/PlantillaGeneral.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'core/css/Logueo/Login.css'%}">
{% endblock links %}

{% block contenido %}
<div class="container mt-4">

    <!-- Mensajes de éxito o error -->
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST"> 
        <div class="login-container" style="border-radius: 30px;">
            <h2>Registro de Alumno</h2>

            
            <label for="profile_picture">Foto de perfil:</label><br>
            <input type="file" id="profile_picture" name="foto_alumno">

            <label para="nombre" class="form-label">Nombre </label>
            <input type="text" class="form-control" name="nombre" required>

            <label para="apellido" class="form-label">Apellido </label>
            <input type="text" class="form-control" name="apellido" required>

            <label para="correo" class="form-label">Correo Electronico </label>
            <input type="email"  name="email">

            <label para="contrasena" class="form-label">Contraseña </label>
            <input type="password"  name="">

            <label para="telefono" class="form-label">Teléfono</label>
            <input tipo="text" class="form-control" name="telefono">


            <button>Entrar</button>

          </div>
        </form>


</div>
{% endblock %}