{% extends 'core/plantillas/PlantillaGeneral.html' %}

{% block contenido %}
<div class="container mt-4" style="margin-bottom: 424px;">
    <h2>Solicitudes de Registro de Profesores</h2>
    <p>Revise las solicitudes pendientes y acepte o rechace según corresponda.</p>

    {% if solicitudes and solicitudes|length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Especialidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
            <tr>
                <td>{{ solicitud.usuario.nombre }}</td>
                <td>{{ solicitud.usuario.email }}</td>
                <td>{{ solicitud.usuario.telefono }}</td>
                <td>{{ solicitud.especializacion }}</td>
                <td>
                    <a href="{% url 'DetalleSolicitud' solicitud.id_profesor %}" class="btn btn-info">Ver Detalles</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay solicitudes pendientes.</p>
    {% endif %}
    
    <!-- Enlace para volver al panel de administrador -->
    <a href="{% url 'PanelAdmin' %}" class="btn btn-primary">Volver al Panel de Administrador</a>
</div>
{% endblock contenido %}