{% extends 'core/plantillas/PlantillaGeneral.html' %}

{% block contenido %}
<div class="container mt-4">
    <h2>{{ tipo|capfirst }} Contraseña</h2>
    <p>Introduce tu correo electrónico para recibir un enlace para {{ tipo }} tu contraseña.</p>
    <form method="POST" action="{% url 'solicitar_cambio_contra' tipo %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock contenido %}