<!DOCTYPE html>
<html>
<head>
    <title>Validación de Registro de Estudiante</title>
</head>
<body>
    <h1>Información del Estudiante</h1>
    <p>Nombre: {{ estudiante.usuario.nombre }} {{ estudiante.usuario.apellido }}</p>
    <p>Correo: {{ estudiante.usuario.email }}</p>
    <p>Teléfono: {{ estudiante.usuario.telefono }}</p>
    <p>Edad: {{ estudiante.usuario.edad }}</p>
    <p>Nivel Educativo: {{ estudiante.nivel_educativo }}</p>

    <a href="{% url 'ValidacionPapas' estudiante.id_estudiante 'aceptar' %}">Aceptar</a>
    <a href="{% url 'ValidacionPapas' estudiante.id_estudiante 'rechazar' %}">Rechazar</a>
</body>
</html>